@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --azul : #2A7AE4;
    --azul-claro: #EAF2FD;
    --blanco: #fff;
    --gris: #F5F5F5;
}
.encabezado{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.encabezado__logo{
    display: flex;
}
.encabezado__logo--pc, .footer__logo--pc{
    color: var(--azul);
    margin-right: 10px;
}
.encabezado__texto, .footer__texto{
    color: var(--azul);
}
.encabezado__span, .footer__span{
    color: #000;
}
.encabezado__busqueda{
    background-color: var(--gris);
    border-radius: 40px;
    padding: 15px;
    display: none;
}
.encabezado__busqueda--input{
    font-size: 14px;
    margin-right: 15px;
    border: none;
    background-color: transparent;
}
.encabezado__final--boton{
    padding: 10px 20px 10px 20px;
    background-color: var(--blanco);
    color: var(--azul);
    border-color: var(--azul);
    margin-right: 10px;
}

.boton{
    padding: 10px 20px 10px 20px;
    background-color: var(--azul);
    color: var(--blanco);
    border-color: transparent;
}

.login-register{
    text-align: center;
}
.formulario{
    display: block;
    max-width: 657px;
    margin: 0 auto;
}
.formulario > input, .formulario > button{
    width: 368px;
} 

/*Footer*/
footer{
    text-align: center;
    line-height: 30px;
    background-color: var(--azul-claro);
}
.input__footer, .textarea__footer, .formulario__input{
    border: none;
    font-size: 16px;
    padding: 16px;
    width: 368px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 368px;
}
.footer__agradecimientos{
    color: var(--blanco);
    background-color: var(--azul);
}
.footer__body{
    margin-top: 20px;
}
.footer__contacto{
    margin-top: 20px;
    max-width: 368px;
    text-align: center;
}
@media (max-width: 480px){
    .footer__body{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .encabezado__busqueda{
        display: block;
    }
    .banner{
        padding-bottom: 50%;        
        background: url(https://storage-asset.msi.com/global/picture/article/article_16009243955f6c2aeb2f2c8.jpg) no-repeat center/100%;
        
    }
    .banner__título{
        font-size: 52px;
        line-height: 20px;
    }
    .banner__texto{
        line-height: 35px;
    }
    .footer__container{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }
    .productos__card, .productos__card-img{
        max-width: 290px;
        width: 100%;
    }
}